/* .status-bar {
    border: 1px solid red;
    position: relative;
}
.status-bar__clock {
    position: absolute;
    left: 0;
}
.status-bar__column {
    position: absolute;
    right: 0;
} */

.status-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    opacity: 0.7;
  }
  
  .status-bar i {
    font-size: 14px;
  }
  
  .status-bar .status-bar__battery-level {
    margin-left: 5px;
  }